*{
    margin: 0;
    padding: 0;
  }
  
  
   a:link {
    text-decoration: none;
  }
  
  
  .btn2{
    width: 100%;
  
  }

  .red{
    color: red;
  }

  #wr{
    color: red;
    background: yellow;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

.reg{
  cursor: default;
  margin-right: .5em;
}

.ck{
  margin-top: 1em;
}

